/* global */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #39385A;
    --light-color: #FFD0CC;
    --background-pink: #FFEAE8;
    --background-blue: #F4F6FE;

}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

ul {
    list-style: none;
}

img{
    max-width: 100%;
}

/* Navbar */
.navbar {
    background: var(--background-pink);
    padding: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .navbar-left {
    display: flex;
    align-items: center;
}

.navbar .navbar-left .logo {
    margin-right: 20px;
}

.navbar .main-menu ul {
    display: flex;
    align-items: center;
}

.navbar-left ul li a {
    padding-inline: 10px;
    font-weight: 600;
    transition: 0.5s;
}

.navbar-right ul li a {
    padding-inline: 5px;
    font-weight: 600;
    transition: 0.5s;
}

.navbar-left ul li a:hover {
    color: var(--light-color);
}

.navbar-right ul {
    display: flex;
    align-items: center;
}

/* Hero */
.hero {
    padding-top: 50px;
    background-color: var(--background-pink);
    background-image: url(./img/soap-suds-bottom-fullwidth-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.hero .container {
    display: flex;
    justify-content: space-between;
    height: 550px;
}

.hero-content-left {
    flex: 1;
}

.hero .btn {
    margin-top: 20px;
    transition: 0.5s;
}

.hero-heading,
.hero-text {
    color: var(--primary-color);
}

.hero-content-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.hero-content-right img {
    width: 70%;
}

/* Registered Pets */
.register .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.registered-pets {
    display: inline-block;
    margin-top: 40px;
    padding: 20px;
}
.register h2 {
    text-decoration: underline;
}

/* Registration */
.registration-body {
    background: var(--background-pink);
}
.registration .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.registration .logo {
    padding-top: 50px;
}

.registration .soap-suds {
    padding-top: 50px;
    background-color: var(--background-pink);
    background-image: url(./img/soap-suds-registration-top.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 500px;
    height: 100px;
}

.registration-form h1 {
    color: var(--primary-color);
    text-align: center;
}

.registration-form p {
    text-align: center;
    margin: 20px 0;
    color: var(--primary-color);
}

.registration .registration-form {
    background: #fff;
    width: 500px;
    border-radius: 0 0 25px 25px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-form input {
    background-color: #F3F3F3;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 20px;
    font-size: 1rem;
    color: #757575;
    margin: 7px 0;
}

.first-last-name {
    display: flex;
    width: 100%;
    gap: 10px;
}

.registration-form .tos {
    width: 100%;
    margin: 20px 0;
}

.tos input, .tos label {
    width: auto;
}

.registration-form .tos label a{
    font-weight: 600;
    color: var(--primary-color);
}

.registration-form button {
    width: 100%;
    padding: 20px 0;
    font-size: 1rem
}

.or-horizontal-line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.or-horizontal-line hr{
    width: 100%;
    margin: 40px 10px;
    height: 1px;
    background-color: lightgrey;
    border: none;
}

.or-horizontal-line p {
    font-size: .8rem;
    letter-spacing: 2px;
    font-weight: 600;
}

.registration-form {
    margin-bottom: 30px;
}

.registration-form h1 {
    margin-top: 20px;
}

.registration-form h3 {
    margin-bottom: 15px;
    color: var(--primary-color);
}

.registration-form .login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-form .invalid {
    background-color: #ffdddd;
}

.registration-form .invalid-checkbox {
    outline: 3px solid #ffdddd;
}

.registration-form select {
    background-color: #F3F3F3;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 20px;
    font-size: 1rem;
    color: #757575;
    margin: 7px 0;
}

.registration-form .type-gender {
    display: flex;
    gap: 10px;
}

.registration-form input[type = checkbox] {
    accent-color: var(--primary-color);
}

#validationErrorMsg {
    color: red;
    text-align: center;
}

.pet-name-breed, .pet-age-weight {
    display: flex;
    gap: 10px;
}

#addPetButton {
    margin: 15px 0;
}

.owner-card {
    background-color: #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    padding: 20px; 
    margin: 20px 0;
}

table, td, th {
    border: 1px solid var(--primary-color);
    text-align: center;
    vertical-align: middle;

}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

/* Services */
.services-flex {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

#addServiceButton {
    margin: 15px 0;
}

#btnService {
    margin-top: 20px;
}

/* Utility Classes */
.container {
    max-width: 1100px;
    margin-inline: auto;
    padding-inline: 15px;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 10px;
    background: var(--light-color);
    color: var(--primary-color);
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    text-align: center;
}

.btn-dark {
    background: var(--primary-color);
    color: #fff;
}

.btn:hover {
    opacity: 0.7;
}

.delete-btn {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background: var(--light-color);
    color: var(--primary-color);
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    text-align: center;
}

/* Text Classes */
.text-xxl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    margin: 40px 0 20px;
    color: var(--primary-color);
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}